/* #longRod,
#bottomRod,
#topRod,
#string,
#head,
#body,
#leftLeg,
#rightLeg,
#leftArm,
#rightArm {
	transition: all 1s ease;
} */

#rod {
	animation: bounce 1s;
}

@keyframes bounce {
	0% {
		transform: translateY(-30%);
	}

	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-10%);
	}

	60% {
		transform: translateY(-5%);
	}
}

.letter {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#pencil {
	position: absolute;
	animation: bounceAndFadeOut 1s;
	opacity: 0;
}

@keyframes bounceAndFadeOut {
	0% {
		transform: translateY(-60%);
		opacity: 1;
	}

	20%,
	60%,
	80% {
		transform: translateY(-10%);
	}

	40% {
		transform: translateY(-50%);
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-10%);
	}
}


.container {
	position: relative;
	width: 168px;
	height: 168px;
	margin: auto;
	padding: 10px;
}

p {
	text-align: Center;
	font-family: 'Fredoka One', cursive;
	color: #3498db;
	font-size: 30px;
	padding: 10px;
}

.face {

	width: 168px;
	height: 168px;
	border: 9px solid #bdc3c7;
	border-radius: 50%;
	animation: face 7s infinite;
	animation-delay: 2s;
	position: relative;
	z-index: 9999;
	margin: auto;
}


.mouth {
	height: 10px;
	width: 35px;
	margin: 0 auto;
	margin-top: 15px;
	background-color: #bdc3c7;
	animation: mouth 7s infinite;
	animation-delay: 2s;
}

.tear {
	position: absolute;
	background-color: #3498db;
	height: 0px;
	width: 45px;
	top: 80px;
	left: 40px;
	border-bottom-left-radius: 50%;
	animation: tear 7s infinite;
	animation-delay: 2s;
}

.tear2 {
	position: absolute;
	background-color: #3498db;
	height: 0px;
	width: 45px;
	top: 80px;
	left: 104px;
	border-bottom-right-radius: 50%;
	animation: tear 7s infinite;
	animation-delay: 2s;
}

.eye {
	height: 10px;
	width: 45px;
	background-color: #bdc3c7;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	animation: cry 7s infinite;
	animation-delay: 2s;
}

.eyebrow {
	width: 30px;
	font-size: 40px;
	font-weight: bold;
	color: #bdc3c7;
	display: inline-block;
	margin-left: 27px;
	margin-top: 10px;
	opacity: 0;
	animation: eyebrow 7s infinite;
	animation-delay: 2s;
}

.eyebrow:nth-child(1) {
	transform: rotate(-20deg);
}

.eyebrow:nth-child(2) {
	transform: rotate(20deg);
}

@keyframes mouth {
	10% {
		height: 30px;
		width: 25px;
		border: 6px solid black;
		border-radius: 50%;
		margin-top: -8px;
	}

	50% {
		height: 30px;
		width: 25px;
		border: 6px solid black;
		border-radius: 50%;
		margin-top: -8px;
	}

	60% {
		height: 10px;
		width: 35px;
		border-radius: 0%;
		border: none;
		margin-top: 15px;
	}
}

@keyframes cry {
	10% {
		transform: translateY(-34px);
		background-color: black;
	}

	50% {
		transform: translateY(-34px);
		background-color: black;
	}

	60% {
		background-color: #bdc3c7;
		transform: translateY(0px);
	}
}

@keyframes eyebrow {
	10% {
		opacity: 1;
		color: black;
	}

	50% {
		opacity: 1;
		color: black;
	}

	60% {
		opacity: 0;
	}
}

@keyframes face {
	10% {
		border-color: black;
	}

	50% {
		border-color: black;
	}

	60% {
		border-color: #bdc3c7;
	}
}

@keyframes tear {
	10% {
		height: 96px;
	}

	50% {
		height: 96px;
	}

	52% {
		height: 0px;
	}
}

.letters {
	margin-top: 50px;
}

.fail-text {
	text-align: center;
	font-weight: 500;
	line-height: 1.2;
	font-size: 43px;
}

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

/* BODY */
.win-body {
	position: relative;
	height: 350px;
	background-color: white;
	/*   background-image: -webkit-linear-gradient(90deg, skyblue 0%, steelblue 100%); */
	background-attachment: fixed;
	background-size: 100% 100%;
	overflow: hidden;
	font-family: "Luckiest Guy", cursive;
	-webkit-font-smoothing: antialiased;
}


/* JUMP */
.win-h1 {

	width: 100%;
	height: 100px;
	margin: auto;
	display: block;
	text-align: center;
}

.win-h1 .win-span {
	position: relative;
	top: 20px;
	display: inline-block;
	-webkit-animation: bounce 0.9s ease infinite alternate;
	font-size: 80px;
	color: blue;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
		0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
		0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.win-h1 .win-span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
}

.win-h1 .win-span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
}

.win-h1 .win-span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
}

.win-h1 .win-span:nth-child(5) {
	-webkit-animation-delay: 0.4s;
}

.win-h1 .win-span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
}

.win-h1 .win-span:nth-child(7) {
	-webkit-animation-delay: 0.6s;
}

.win-h1 .win-span:nth-child(8) {
	-webkit-animation-delay: 0.2s;
}

.win-h1 .win-span:nth-child(9) {
	-webkit-animation-delay: 0.3s;
}

.win-h1 .win-span:nth-child(10) {
	-webkit-animation-delay: 0.4s;
}

.win-h1 .win-span:nth-child(11) {
	-webkit-animation-delay: 0.5s;
}

.win-h1 .win-span:nth-child(12) {
	-webkit-animation-delay: 0.6s;
}

.win-h1 .win-span:nth-child(13) {
	-webkit-animation-delay: 0.7s;
}

.win-h1 .win-span:nth-child(14) {
	-webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
	100% {
		top: -20px;
		text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
			0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
			0 50px 25px rgba(0, 0, 0, 0.2);
	}
}